
.auto-grid{
  --auto-grid-min-size: 350px;

  display: grid;
  gap: var(--gutter);

  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));

}

.grid{
  --gap: $grid-gap;

  display: grid;
  gap: var(--gutter);

  grid-template-columns: repeat(12, 1fr);
}

@for $i from 1 through 12 {
  .grid-#{$i}{ @extend .grid; grid-template-columns: repeat(#{$i}, 1fr);}
}

.layout{

  @for $i from 1 through 12 {

    .grid-col-#{$i}{
      grid-column: span 12;

      @include lg{
        grid-column: span #{$i};
      }
    }

    .grid-col-sm-#{$i}{
      @include sm{
        grid-column: span #{$i};
      }
    }

    .grid-col-md-#{$i}{
      @include md{
        grid-column: span #{$i};
      }
    }
  }

}
